html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body[mode="dark"] core-toggle {
  --core-color-focus: var(--core-color-ui);
}

.medium-editor-placeholder:after {
  color: var(--core-color-ui);
  text-transform: none;
}

body[theme="dark"] ::selection {
  color: black;
  background: white;
}

body {
  transition: background 0.5s ease;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

core-tab {
  font-size: 16px;
  border-bottom: 0;
  background: var(--core-color-white);
  border-radius: 10px;
  cursor: pointer;
}

header {
  padding-left: var(--core-space-md);
  padding-right: var(--core-space-md);
  border-bottom: 1px solid var(--core-color-ui-weak);
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

.notepad {
  padding-left: var(--core-space-md);
  padding-right: var(--core-space-md);
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  padding-top: 10vh;
  padding-bottom: 30vh;
}
.editable {
  cursor: text;
  margin: 0;
  min-height: calc(60vh - 60px);
  outline: 0;
  border: 0;
}
.editable p:first-of-type {
  margin-top: 0;
}
